/* Theis is theme style


*/

body {
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 1.5em;
  background-color: #f9fafb;
  color: #72777a;
}

a {
  color: #72777a;
}

a:visited {
  color: #72777a;
}

a:hover {
  color: #f74e05;
}

.mt-30 {
  margin-top: 30px;
}

.active a {
  color: #f74e05;
}

.theme-danger {
  background-color: #d44837;
  color: #fff;
}

.theme-primary {
  background-color: #42aced;
  color: #fff;
}
.theme-warning{
  background-color: #f8c108;
  color: #fff;
}

/* side menu */
.aside {
    background-color: #fff;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    width: 260px;
    z-index: 1000;
    border-right: 1px solid rgba(0,0,0,.0625);
}

.sidebar-menu li.dropdown .arrow {
    font-size: 15px;
    line-height: 35px;
    position: absolute;
    right: 30px;
    -webkit-transition: all .05s ease-in;
    -o-transition: all .05s ease-in;
    transition: all .05s ease-in;
}

.menu-dropdown {
  display: none;
  list-style: none;
  background-color: #fbfbfb;
}

.menu-dropdown  li {
  padding: 5px 0px 10px 35px;
}

.brand {
  padding: 0 20px;
  min-height: 64px;
  border-bottom: 1px solid #efefef;
}

.logo-img img,
.logo-text {
  display: inline-block;
  color: #565656;
}

.logo-container a {
  color: #000;
  text-decoration: none;
}

.sidebar-menu>li>a {
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 15px;
    position: relative;
    white-space: nowrap;
}

.sidebar-menu>li>a .icon-holder {
    border-radius: 6px;
    display: inline-block;
    font-size: 15px;
    height: 35px;
    left: 0;
    line-height: 35px;
    margin-right: 5px;
    position: relative;
    text-align: center;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: 35px;
}

.sidebar-menu li a {
    color: #72777a;
    text-decoration: none;
}

.sidebar-menu li a:hover {
  color:#f74e05;
}

.sidebar-menu li.dropdown.open>a>.arrow {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
/* side menu end*/


/* main container*/
.main {
    min-height: 100vh;
    padding-left: 260px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.is-collapsed .main .header {
    width: calc(100% - 70px);
}

.is-collapsed .main {
    padding-left: 70px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0625);
  display: block;
  height: 65px;
  margin-bottom: 0;
  padding: 0;
  position: fixed;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  width: calc(100% - 260px);
  z-index: 800;
}

.list-right li .title{
  padding: 0 10px;
}

.list-right li {
  padding: 0 10px;
  line-height: 64px;
  border-right: 1px solid #f1f1f1;
}

.list-right li:last-child {
  border-right: none;
}

.list-right li a{;
  text-decoration: none;
}

.list-right li a:hover{;
  color:#f74e05;
}

.list-right .time {
  padding: 0 20px;
}


.list-right .avatar img{
  display: inline-block;
  vertical-align: middle;
  max-width: 41px!important;
}

.img-rounded  {
  border-radius: 50%;
}

.header-container {
  margin: 0 20px;
}

.header-container ul {
  margin-bottom: 0px;
}

.header-container ul li a {
  line-height: 64px;
}

.main-container {
  padding: 85px 20px 20px;
  min-height: calc(100vh - 61px);
}

.headings {
  text-align: center;
}

.workout {
  background: #f9f9f9;
  padding:10px;
}


.Widget {
  padding: 20px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.18);
}

.Widget .title {
  font-size: 18px
}
/* main container end*/


/**/
.portlate {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.18);
}


.portlate-header {
  border-bottom: 1px solid #efefef;
  padding: 15px;
}

.portlate-body {
  padding: 20px;
}
/**/

.aside .brand .mobile-toggle {
    display: none;
    position: absolute;
    right: 15px;
    top: 20px;
    font-size: 20px;
}


@media screen and (min-width: 1440px){
  .is-collapsed .aside {
      width: 70px;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
  }

  /* .is-collapsed .aside:hover {
    width: 260px;
  } */

  .is-collapsed .aside .brand {
      padding: 0;
  }

  .is-collapsed .aside .nav-container .sidebar-menu>li>a .title {
      display: none;
  }

  .is-collapsed .aside .brand .logo-container .logo-text {
      display: none;
  }

  .is-collapsed .aside .nav-container .sidebar-menu li.dropdown .arrow {
    opacity: 0;
  }

}

@media screen and (max-width: 1439px) and (min-width: 992px){

  .aside {
      width: 70px;
  }

  .aside .brand .mobile-toggle {
    display: none;

  }

  .aside .nav-container .sidebar-menu li.dropdown .arrow {
    opacity: 0;
  }

  .brand {
    padding: 0;
  }

  .header {
      width: calc(100% - 70px);
  }

  .is-collapsed  .brand {
    padding: 0 20px;
  }

  .aside .nav-container .sidebar-menu>li>a .title {
      display: none;
  }

  .is-collapsed .main .header {
        width: calc(100% - 260px);
    }

  .aside .brand .logo-container .logo-text {
      display: none;
  }

  .main {
      padding-left: 70px;
  }

  .is-collapsed .aside {
      width: 260px;
  }

  .is-collapsed .main {
      padding-left: 260px;
  }

  .is-collapsed .aside .nav-container .sidebar-menu>li>a .title {
      display: inline-block;
  }

  .is-collapsed .aside .brand .logo-container .logo-text {
      display: inline-block;
  }

}

@media screen and (max-width: 991px){
  .aside {
    left: -260px;
    width: 250px;
  }
  .aside .brand .mobile-toggle {
    display: inline-block;
  }
  .header {
    width: 100%;
  }
  .main {
    padding-left: 0;
  }
  .is-collapsed .aside {
    left: 0;
  }

  .is-collapsed .main {
    padding-left: 0;
  }

  .is-collapsed .main .header {
    width: 100%;
  }
}
